@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville: 100,200,300,400,500,600,700,800,900|Libre+Franklin: 100,200,300,400,500,600,700,800,900 &display=swap");



body {
  background-color: #1b3a32;
}

hr {
    border-color: #1f544d;
    padding: 0;
   

}

kbd{
    font-family: "Libre Franklin", sans-serif;
    background-color: #1b3a32;
}
mark{
    font-family: "Libre Franklin", sans-serif;
    background-color: #ffdb26;
}

footer {
    background-color: #1b3a32;
    min-height: 400px
}
/*----------------------------------------------Header----------------------------------------*/

.navbar {
  border-radius: 0;
  margin: 0 auto;
  border: 0;
  box-shadow: -40px 10px 50px rgba(0, 0, 0, 0.175),
    -30px 30px 10px rgba(0, 0, 0, 0.035),
    -55px -30px 90px rgba(0, 0, 0, 0.336) inset;
}

#nav {
  font-family: "Libre Franklin", sans-serif;
  border-bottom: 2px solid #ffdb26;
  background-color: #1b3a32;
}

.navbar-header,
.navbar-nav {
  padding: 2% 0 2% 1%;
}

.navbar-header .navbar-toggle {
  border: 3px solid #ffdb26;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #1b3a32;
}
.navbar-header .navbar-toggle:hover {
  background-color: #1b3a32;
}

.navbar-header .navbar-toggle:active {
  background-color: #1b3a32;
}

.navbar-header .navbar-toggle:focus {
  background-color: #1b3a32;
}

.navbar-header .navbar-toggle i {
  color: #ffdb26;
}

#nav .link {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1em;
}


#nav .link a {
   background-color: transparent;
   border: 0;
}

#nav .link span {
  padding-left: 7px;
}

#nav .link .active-link {
  color: #ffdb26;
  font-weight: 700;
}

#nav-collapsible a {
  color: #fff;
}

#nav-collapsible .dropdown-menu {
  background-color: #1b3a32;
  padding: 7% 0%;
  font-size: 1em;
  text-transform: none;
  right: 0;
  opacity: 98%;
  box-shadow: -40px 10px 50px rgba(0, 0, 0, 0.175),
    -30px 30px 10px rgba(0, 0, 0, 0.035),
    -55px -30px 90px rgba(0, 0, 0, 0.336) inset;
  border: 1px solid #1f544d;
  border-radius: 3px;
  overflow: auto;
  height: auto;
  max-height: 270px;
}

#nav-collapsible .dropdown-menu li {
  border-bottom: 1px solid #1f544d;
  font-family: "Libre Franklin", sans-serif;
}

#nav-collapsible .dropdown-menu li:last-child {
  border-bottom: 0px;
}

#nav-collapsible .active-link .fa {
  color: #fff;
}


#nav-collapsible .active-link .fa-caret-right {
  color: #ffdb26;
}

#nav a:hover {
  color: #ffdb26;
  background-color: transparent;
}
#nav-collapsible .dropdown .dropdown-toggle {
  background-color: transparent;
}
#nav-collapsible .dropdown .dropdown-toggle:active {
  background-color: transparent;
}

#nav-collapsible .dropdown .dropdown-toggle:link {
  background-color: transparent;
}

#nav-collapsible .dropdown .dropdown-toggle:focus {
  background-color: transparent;
}

#nav-collapsible .dropdown .dropdown-toggle:hover {
  background-color: transparent;
}

#nav-collapsible .dropdown-menu li a:hover {
  background-color: #1f544d;
}

#nav-collapsible .dropdown-menu li a:active {
  background-color: #1b3a32;
}

#nav-collapsible .dropdown-menu li a:focus {
  background-color: #1b3a32;
}

.logo {
  background: url("../images/EverydayWhyLogo-05.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  top: 0;
  min-height: 100%;
  width: 200px;
  height: auto;
}

#nav #about-link:focus{
    text-decoration: line-through;
    text-decoration-color: #ffdb26;
    
}

/*----------------------------------------------Jumbotron----------------------------------------*/

.jumbotron {
  color: #fff;
  margin: 0 auto;
  box-shadow: -40px 10px 50px rgba(0, 0, 0, 0.175),
    -30px 30px 10px rgba(0, 0, 0, 0.035);
  border: 0;
  padding: 5% 5%;
  
}

.jumbotron .welcome-text {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.2em;
  font-weight: 100;
  padding: 0;
  margin: 0;
  text-align: left;
}

.jumbotron .welcome-text small {
  font-family: "Libre Baskerville", serif;
  font-size: 0.8em;
  font-weight: 100;
  display: inline-block;
  color: #ffdb26;
  margin: 0;
  border: 0;
}

.jumbotron .welcome-text span {
  color: #fff;
  font-family: "Libre Baskerville", serif;
  font-weight: 900;
  font-style: italic;
  font-size: 1.1em;
  text-decoration: underline;
  text-decoration-color: #ffdb26;
}

#quote{
    background-image: radial-gradient(circle, #1f544d, #1b3a32);
    box-shadow: 
   -40px 10px 150px rgba(0, 0, 0, 0.74),
    -30px 30px 90px rgba(0, 0, 0, 0.623),
    -55px -30px 90px rgba(0, 0, 0, 0.336) inset;
    padding: 50px 50px;
    /* border-radius: 3px; */
}
#about{
    box-shadow:
    -55px -30px 115px rgba(0, 0, 0, 0.65) inset;
    padding: 50px 50px;
    background-color: #1f544d;
}
/*----------------------------------------------Articles----------------------------------------*/
.article-collection-bg {
    background-image: linear-gradient(to right, #cbe4de, #1f544d);
  padding: 1em 0;
}

.article-block .panel-group {
  width: 100%;
  margin: 0 auto;
}

.article-block .panel-group .panel {
  border: 0;
  border-radius: 3px;
  padding: 0 20px;
  background-image: linear-gradient(to left, #cbe4de, #457165); 
}

.article-block .panel-group .panel-heading {
  box-shadow: -40px 10px 50px rgba(0, 0, 0, 0.295),
    -30px 30px 30px rgba(0, 0, 0, 0.151),
    -55px -30px 115px rgba(0, 0, 0, 0.65) inset;
  background-color: #1f544d;
  padding: 1em 1em;
}
.article-block .panel-group .panel-heading:hover {
  box-shadow: none;

}
.article-block .panel-group .panel-heading:focus {
  box-shadow: none;
}
.article-block .panel-group .panel-heading:active {
  box-shadow: none;
}

.article-block .panel-group .panel a {
  line-height: 1em;
  color: #fff;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  font-size: 1.3em;
  width:100%;
  padding-right: 0;
  letter-spacing: 0px;
}

.article-block .panel-group .panel #article-one {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.article-block .panel-group .panel .panel-body {
   background-color:transparent;
  color: #1b3a32;
  font-family: "Libre Baskerville", serif;
  font-weight: 500;
  line-height: 1.8em;
  padding: 4% 2%;
  margin: 0 auto;
  font-size: 1.2em;
  text-align: left;
  max-height: 500px;
  overflow: auto;
  border: 0;
  box-shadow: -40px 10px 50px rgba(0, 0, 0, 0.175),
    -30px 30px 30px rgba(0, 0, 0, 0.035),
    -75px -50px 90px rgba(255, 255, 255, 0.623) inset;
}
.question-image {
  background: url("../images/The Anatomy of a Question.png");
  background-position:center ;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 500px;
background-color:transparent;
   
  
}

.article-block .panel-group .panel a:before {
  float: right !important;
  font-family: FontAwesome;
  content: "\f0d7";
  padding-right: 5px;
  font-size: 1em;
}

.article-block .panel-group .panel a:hover {
  text-decoration: none;
  color: #ffdb26;
  
}
.article-block .panel-group .panel a:active {
  text-decoration: none;
  color: #ffdb26;
  
}
.article-block .panel-group .panel a:focus {
  text-decoration: none;
  
}

/*----------------------------------------------Custom Scrollbar----------------------------------------*/

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 9px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1f544d;
   
  border-radius: 9px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(to top , #cbe4de, #1f544d);
  /* background: #fff; */
  /* border: 1px solid #1b3a32 */
}

/*----------------------------------------------Accent colours----------------------------------------*/

.happy {
     background-image: linear-gradient(to bottom left, #cbe4de, #ffdb26) !important;
    
}
.inspiring {
     background-image: linear-gradient(to bottom left, #cbe4de, #BCFF63) !important; 
     
}

.meditative{
    
     background-image: linear-gradient(to bottom left, #cbe4de, #0181E8) !important; 
}

.plain{
     background-image: linear-gradient(to bottom left, #cbe4de, #fff)!important; 
}

.educational{
     background-image: linear-gradient(to bottom left, #cbe4de, #DEA8ED)!important; 
}



/*----------------------------------------------Animations for dropdown menu----------------------------------------*/
/* fade-in animation keyframes */
@keyframes colour-fade-in {
  from {
     background-image: linear-gradient(to bottom right, #cbe4de, #1f544d);
  }
  to {
     background-image: linear-gradient(to bottom right, #cbe4de, #ffdb26);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* fade-out animation keyframes*/
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-ms-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* toggle-down animation keyframes*/
@keyframes toggle-down {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@-webkit-keyframes toggle-down {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@-moz-keyframes toggle-down {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@-o-keyframes toggle-down {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@-ms-keyframes toggle-down {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
/* toggle-up animation keyframes */
@keyframes toggle-up {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}
@-webkit-keyframes toggle-up {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}
@-moz-keyframes toggle-up {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}
@-o-keyframes toggle-up {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}
@-ms-keyframes toggle-up {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}
/* animation rules */

#nav-collapsible .dropdown-menu li a {
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
}

#nav-collapsible .dropdown:hover > .dropdown-menu {
  opacity: 1;
  animation: fade-in ease-in-out 0.3s;
  -webkit-animation: fade-in ease-in-out 0.3s;
  -moz-animation: fade-in ease-in-out 0.3s;
  -o-animation: fade-in ease-in-out 0.3s;
  -ms-animation: fade-in ease-in-out 0.3s;
}

#nav-collapsible .dropdown:hover > .active-link > .fa-caret-right {
  transform: rotate(0deg);
  animation: toggle-down step-end 0.1s forwards;
  -webkit-animation: toggle-down step-end 0.1s forwards;
  -moz-animation: toggle-down step-end 0.1s forwards;
  -o-animation: toggle-down step-end 0.1s forwards;
  -ms-animation: toggle-down step-end 0.1s forwards;
}

#nav-collapsible .dropdown-menu li a:hover > .fa-caret-down {
  transform: rotate(0deg);
  animation: toggle-up step-end 0.4s forwards;
  -webkit-animation: toggle-up step-end 0.4s forwards;
  -moz-animation: toggle-up step-end 0.4s forwards;
  -o-animation: toggle-up step-end 0.4s forwards;
  -ms-animation: toggle-up step-end 0.4s forwards;
}

.article-block .panel-group .panel a.collapsed:before {
  transform: rotate(0deg);
  animation: toggle-up step-end 0.4s forwards;
  -webkit-animation: toggle-up step-end 0.4s forwards;
  -moz-animation: toggle-up step-end 0.4s forwards;
  -o-animation: toggle-up step-end 0.4s forwards;
  -ms-animation: toggle-up step-end 0.4s forwards;
}

.article-block .panel-group .panel p{
  opacity: 1;
  animation: fade-in ease-in 0.8s forwards;
  -webkit-animation:  fade-in ease-in 0.8s forwards;
  -moz-animation:  fade-in ease-in 0.8s forwards;
  -o-animation:  fade-in ease-in 0.8s forwards;
  -ms-animation:  fade-in ease-in 0.8s forwards;
}

.article-block .panel-group .panel a.hover:before {
  transform: rotate(0deg);
  animation: toggle-up step-end 0.4s forwards;
  -webkit-animation: toggle-up step-end 0.4s forwards;
  -moz-animation: toggle-up step-end 0.4s forwards;
  -o-animation: toggle-up step-end 0.4s forwards;
  -ms-animation: toggle-up step-end 0.4s forwards;
}



/*----------------------------------------------Media Queries----------------------------------------*/
@media (min-width: 768px) {
  #nav-collapsible .dropdown:hover > .dropdown-menu {
    display: block;
  }
  
  
}

@media (max-width: 1100px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
  .logo {
    min-height: 50px;
    top: 27px;
  }

  .navbar-collapse {
    text-align: center;
    font-size: 1em;
  }
  .navbar-collapse .active-link {
    font-size: 1.3em;
  }

  .navbar-header,
  .navbar-nav {
    padding: 20px 0%;
  }

  #nav-collapsible .dropdown-menu {
    right: 30%;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .jumbotron .welcome-text {
  font-size: 1.3em;
  
}


  .article-block .panel-group .panel a {
    font-size: 1.5em;
   
  }

  .article-block .panel-group .panel-heading {
  box-shadow: 
    -25px -10px 65px rgba(0, 0, 0, 0.938) inset;
  
}
}

@media (max-width: 576px) {
  .logo {
    background: url("../images/Isotype.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    top: 5px;
    left: 6%;
    min-height: 100px;
    width: 50px;
    height: auto;
  }
}
